.products {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding-top: 2rem;
  font-family: var(--font-body);
  font-size: var(--font-size-body);
  background-color: var(--color-navy-900);
}

.contentProducts {
  max-width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5rem;


  .firstSectionProducts, .secondSectionProducts {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10rem;
  }
}

.itemProducts {
  text-align: center;
  font-weight: 700;

  p {
    color: #c9c7c7;
    font-weight: 500;
    padding: 1rem;
    line-height: 1.3rem;
  }

  img {
    padding: 1.5rem 0;
  }
}

