.header {
  padding: 0 3rem;
  height: 7rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  font-family: var(--font-headers);
}

.logo {
  width: 160px;
  object-fit: contain;
}