.emailSignup {
  position: relative;
  top: 5rem;

  max-width: 55%;
  margin: 0 auto;

  padding: 2rem 3rem;
  background-color: var(--color-navy-850);
  
  border-radius: .4rem;
  box-shadow: .4rem .4rem .3rem #131820;
}


.contentEmailSignup {
  display: flex;
  flex-direction: column;
  gap: 1rem;


  .contentInfo {
    text-align: center;

    h2 {
      font-weight: 700;
      font-size: 1.6rem;
    }

    p {
      padding: 1.2rem 0;
      color: #c2c2c2;

      font-size: .9rem;
      font-weight: 600;
    }
  }

  form {
    display: flex;
    justify-content: center;
    gap: 1rem;

    input {
      width: 100%;
      padding: .8rem 2rem;

      font-family: var(--font-headers);
      font-weight: 600;
      
      border: none;
      border-radius: 2rem;
    }

    button {
      width: 40%;
      background-color: var(--color-cyan-500);
      color: var(--color-white);
      
      border-radius: 2rem;
      border: none;
      
      font-family: var(--font-headers);
      font-weight: 700;
      cursor: pointer;
    }
  }
}