.footer {
  width: 100%;
  background-color: var(--color-navy-950);
}

.contentFooter {
  max-width: 85%;
  margin: 0 auto;
  padding: 9rem 0;
}

.contentInfo {
  margin-top: 2rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1.9fr 1fr 1fr 1fr;
}

.footerLinks {
  display: flex;
  align-items: first baseline;
  gap: 3rem;

  li {
    margin: 0 0 1rem;
  }

  a {
    display: inline-block;
    color: var(--color-white);
  }
}

.adress, .social {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  
  .itemContact {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}

