.footer {
  width: 100%;
  background-color: var(--color-navy-950);
  font-weight: 500;
  color: #d6d6d6;

}

.contentFooter {
  max-width: 85%;
  margin: 0 auto;
  padding: 9rem 0;
}

.contentInfo {
  margin-top: 2rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1.9fr 1fr 1fr 1fr;

  
  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
  }
}

.footerLinks {
  display: flex;
  align-items: first baseline;
  justify-content: center;
  gap: 3rem;

  li {
    margin: 0 0 1rem;
  }

  a {
    display: inline-block;
    color: #d6d6d6;
  }

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
  }
}

.adress, .social {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.adress {
  p {
    line-height: 1.3rem;
  }
}

.social {
  justify-content: center;

  .iconsSocials {
    border-radius: 50%;
    outline: 1px solid white;
    outline-offset: 5px;


    &:hover {
      outline-color: var(--color-teal-200);
      fill: var(--color-teal-200);
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 1.5rem;
  
  .itemContact {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  @media (max-width: 900px) {

    .itemContact {
      gap: 0;
    }
  }
}

