.testimonials {
  width: 80%;
  margin: 0 auto;
  
  background-image: url('/assets/images/bg-quotes.png');
  background-repeat: no-repeat;
  background-position: left top;
}

.contentTestimonials {
  padding: 2.8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.cardTestimonial {
  font-family: var(--font-body);
  background-color: var(--color-navy-800);
  padding: 1rem 1.5rem;
  border-radius: .3rem;
  box-shadow: .7rem .5rem .4rem var(--color-navy-850);
  
  p {
    padding: 1rem 0;
    font-size: .9rem;
    font-weight: 500;
    color: #c9c7c7;
  }

  .profile {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      object-fit: contain;
      border-radius: 50%;
      width: 30px;
    }

    h2 {
      font-size: .8rem;
    }
  
    span {
      font-size: .6rem;
    }
  }

}