.navigator {
  display: flex;
  gap: 3rem;
  
  
  .link {
    font-weight: 400;
    color: var(--color-white);

    &:hover {
      text-shadow: 1px 0 0 var(--color-white);
      text-decoration: underline;
    }
  }
}