.navigator {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-end;
  
  .link {
    font-weight: 400;
    color: var(--color-white);

    &:hover {
      text-shadow: 1px 0 0 var(--color-white);
      text-decoration: underline;
    }
  }
}