@import './styles/globals.css';

@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/Raleway-VariableFont_wght.woff') format("woff");
  font-display: swap;
}

:root {

  /** Colors primary **/
  /* intro and email sign up background */
  --color-navy-850: hsl(217, 28%, 15%);

  /* main background */
  --color-navy-900: hsl(218, 28%, 13%);

  /* footer background */
  --color-navy-950: hsl(216, 53%, 9%);

  /* testimonials background */
  --color-navy-800: hsl(219, 30%, 18%);

  /** Acent **/
  /* inside call-to-action gradient */
  --color-teal-200: hsl(176, 68%, 64%);

  /* inside call-to-action gradient */
  --color-cyan-500: hsl(198, 60%, 50%);

  /* error */
  --color-red-500: hsl(0, 100%, 63%);

  /** Neutral **/
  --color-white: hsl(0, 0%, 100%);

  /* Typography */
  --font-size-body: 14px;
  --font-headers: 'Raleway';
  --font-body: 'Open Sans';
  --font-w-400: 400;
  --font-w-700: 700;
}

body {
  background-color: var(--color-navy-900);
  color: var(--color-white);
}