.infoSection {
  width: 100%;
  background-color: var(--color-navy-900);
}
.contentInfoSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  img {
    width: 500px;
    object-fit: contain;
  }
}

.contentDescription {
  max-width: 40%;

  p {
    padding: .7rem 0;
    font-weight: 500;
    line-height: 1.5rem;
    color: #c9c7c7;
  }

  h2 {
    width: 300px;
    font-size: 2rem;
  }

  a {
    padding-bottom: .3rem;
    border-bottom: 2px solid var(--color-teal-200);
    display: inline-block;
    color: var(--color-teal-200);
  }
}